body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    display: flex;  
    justify-content: left; 
    align-items: center;
    padding: 10px; 
}

nav a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.KobeBryantImage {
    width: 300px; 
    height: auto; 
  
}

nav {
    background-color: rgb(82, 78, 78);
}

body {
    background-color: black;
    color: white; /* Optional: changes text color to white for contrast */
}

body {
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.kobebryantchildResize {
    width: 15%;
    height: auto;
}

.KobeBryantDunking {
    width: 390px;
    height: auto;
}

@media (max-width: 768px) {
    header {
        font-size: 18px;
        padding: 10px;
    }

    section {
        margin: 10px;
        padding: 10px;
    }

    body {
        font-size: 12px;
        padding: 5px;
    }